body {
    font-family: arial;
    color: white;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

.header {
    clear:both;
    padding:25px;
    background-color:gray;
    margin-top: 10px;;
    margin-bottom:10px;
    text-align:center;
}

.nav {
    clear:both;
    padding:25px;
    background-color:gray;
    margin-top: 10px;
    margin-bottom:20px;
    text-align:center;
}

.aside {
    float:right;
    background-color:gray;
    padding:20px;
    width:46%;
    text-align:center;
    box-sizing: border-box;
    height:155px;
    margin-right: 0px;
}

.section {
    background-color:gray;
    padding:20px;
    width:495px;
    height: 155px;
    text-align:center;
    box-sizing:border-box;
}

.article {
    background-color: white;
    padding:5px;
    color: black;
    box-sizing:border-box;
}

.headergroup {
 background-color: black;
 color: white;
}

.p {
    background-color:black;
    padding:5px;
    color:white;
    box-sizing:border-box;
    margin-top:10px;

}

.footer {
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
    height: 100px;
}